---
import LadIcon from '../lad-icon/lad-icon.astro';
---

<nav class="bg-white p-8">
	<div class="container-sm mx-auto flex items-center justify-between">
		<LadIcon id="navbar_lad" variant="base" height="2.5rem" width="2.5rem" />
		<ul class="flex list-none gap-12 text-xl font-semibold">
			<li>Projects</li>
			<li>Experience</li>
			<li>Contact</li>
		</ul>
	</div>
</nav>

<script>
	const lad = document.getElementById('navbar_lad');

	lad && lad.classList.add('animate-bounce');
</script>
