---
import LadIcon from '../lad-icon/lad-icon.astro';
---

<nav class="fixed w-full bg-white p-4 md:p-8">
	<div class="container-sm mx-auto flex items-center justify-between">
		<LadIcon id="navbar_lad" variant="base" height="2.5rem" width="2.5rem" />
		<ul class="hidden list-none gap-12 text-xl font-semibold md:flex">
			<li>Projects</li>
			<li>Experience</li>
			<li>Contact</li>
		</ul>
	</div>
</nav>
