<div class="container-sm">
	<form
		name="contact"
		method="POST"
		data-netlify="true"
		netlify-honeypot="honey-pot-field"
		class="m-auto flex max-w-md flex-col gap-4"
	>
		<div>
			<label for="name" class="block text-sm font-semibold leading-6 text-white">Name</label>
			<input
				type="text"
				name="name"
				id="name"
				autocomplete="off"
				required
				class="w-full rounded border-2 border-gray-800 bg-gray-950 p-2 text-white outline-none"
			/>
		</div>

		<div>
			<label for="email" class="block text-sm font-semibold leading-6 text-white">Email</label>
			<input
				type="email"
				name="email"
				id="email"
				autocomplete="off"
				required
				class="w-full rounded border-2 border-gray-800 bg-gray-950 p-2 text-white outline-none"
			/>
		</div>

		<div>
			<label for="message" class="block text-sm font-semibold leading-6 text-white">Message</label>
			<textarea
				name="message"
				id="message"
				required
				class="w-full rounded border-2 border-gray-800 bg-gray-950 p-2 text-white outline-none"
			></textarea>
		</div>
		<div class="hidden">
			<label for="honey-pot-field">Don’t fill this out if you’re human</label>
			<input name="honey-pot-field" />
		</div>
		<button
			type="submit"
			class="text-md cursor-pointer rounded bg-indigo-600 px-3.5 py-2.5 font-semibold text-white shadow-sm transition ease-in-out"
			>Send Message</button
		>
	</form>
</div>
