---
import LadIcon from '@components/common/lad-icon/lad-icon.astro';
---

<nav class="absolute z-20 w-full bg-transparent">
	<div class="container-sm mx-auto flex items-end justify-between">
		<a href="/" aria-label="home">
			<LadIcon id="navbar_lad" variant="base" height="2.5rem" width="2.5rem" color="white" />
		</a>
		<ul class="flex list-none gap-12 text-xl font-semibold text-white">
			<li><a href="/blog">Blog</a></li>
			<li class="hidden md:block"><a href="/#projects">Projects</a></li>
			<li class="hidden md:block"><a href="/#experience">Experience</a></li>
			<li class="hidden md:block"><a href="/#contact">Contact</a></li>
		</ul>
	</div>
</nav>
