---
import { Image } from 'astro:assets';

export interface Props {
	title: string;
	job: string;
	date: string;
	tech: string[];
}

const { title, job, date, tech } = Astro.props as Props;
---

<div
	class="max-h-sm mb-10 flex translate-y-2 flex-col gap-4 rounded bg-gray-950 text-white opacity-0 shadow-md shadow-gray-900 transition-all duration-1000 ease-in-out"
	data-animate="fade-in"
	data-animate-delay=".25"
>
	<div class="flex flex-col justify-center gap-4 px-6 py-4">
		<h3 class="text-xl font-bold">{title}</h3>
		<span>{date}</span>
		<hr />
		<h3 class="text-xl font-bold">{job}</h3>
		<div>
			{
				tech.map((techItem) => {
					return (
						<div class="mb-4 mr-2 inline-block rounded bg-gray-900 px-3 py-1 text-sm font-normal text-white">
							{techItem}
						</div>
					);
				})
			}
		</div>
	</div>
</div>
