---
import LadIcon from '../lad-icon/lad-icon.astro';
---

<nav class="fixed z-50 w-full bg-white">
	<div class="container-sm mx-auto flex items-center justify-between">
		<LadIcon id="navbar_lad" variant="base" height="2.5rem" width="2.5rem" />
		<ul class="hidden list-none gap-12 text-xl font-semibold text-gray-900 md:flex">
			<li><a href="#section__projects">Projects</a></li>
			<li><a href="#section__experience">Experience</a></li>
			<li><a href="#section__contact">Contact</a></li>
		</ul>
	</div>
</nav>
