<div class="mt-10 flex gap-4">
	<a href="https://codepen.io/d_coll" target="_blank" aria-label="codepen">
		<svg
			class="group h-8 w-8 transition delay-150 ease-in-out"
			width="43"
			height="43"
			viewBox="0 0 43 43"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M2.05594 28.0387L21.5 40.9387M2.05594 28.0387V14.9613M2.05594 28.0387L21.5 14.9613M21.5 40.9387L40.9441 28.0387V14.9613L21.5 2.06131M21.5 40.9387V28.038M21.5 2.06131L2.05594 14.9613M21.5 2.06131V14.9613M2.05594 14.9613L21.5 27.8627L40.9441 14.9627M40.9427 28.0387L21.5 14.9613"
				stroke="black"
				stroke-width="4"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="stroke-white transition duration-300 ease-in-out group-hover:stroke-indigo-600"
			></path>
		</svg>
	</a>

	<a href="https://github.com/DaraghColl" target="_blank" aria-label="github">
		<svg
			class="group h-8 w-8"
			width="38"
			height="37"
			viewBox="0 0 38 37"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M19.1058 0.480766C8.82608 0.480766 0.5 8.80685 0.5 19.0865C0.5 27.3196 5.8259 34.2735 13.2217 36.7388C14.152 36.9016 14.5008 36.3434 14.5008 35.855C14.5008 35.4131 14.4776 33.9479 14.4776 32.3897C9.80289 33.2502 8.59351 31.2501 8.22139 30.2035C8.01208 29.6686 7.10505 28.0173 6.3143 27.5754C5.6631 27.2266 4.73281 26.366 6.29105 26.3428C7.75625 26.3195 8.80282 27.6917 9.15168 28.2499C10.8262 31.064 13.5008 30.2733 14.5706 29.7849C14.7334 28.5755 15.2218 27.7615 15.7567 27.2963C11.6169 26.8312 7.29111 25.2264 7.29111 18.1097C7.29111 16.0864 8.01208 14.4118 9.1982 13.1094C9.01214 12.6443 8.36094 10.7372 9.38426 8.1789C9.38426 8.1789 10.9425 7.6905 14.5008 10.086C15.9893 9.66737 17.5708 9.45805 19.1523 9.45805C20.7338 9.45805 22.3153 9.66737 23.8037 10.086C27.3621 7.66725 28.9203 8.1789 28.9203 8.1789C29.9436 10.7372 29.2924 12.6443 29.1064 13.1094C30.2925 14.4118 31.0135 16.0631 31.0135 18.1097C31.0135 25.2497 26.6644 26.8312 22.5246 27.2963C23.199 27.8778 23.7805 28.9941 23.7805 30.7384C23.7805 33.2269 23.7572 35.227 23.7572 35.855C23.7572 36.3434 24.1061 36.9248 25.0364 36.7388C28.7301 35.4921 31.9399 33.1184 34.2137 29.9517C36.4875 26.7851 37.7109 22.985 37.7115 19.0865C37.7115 8.80685 29.3855 0.480766 19.1058 0.480766Z"
				class="fill-white transition duration-300 ease-in-out group-hover:fill-indigo-600"></path>
		</svg>
	</a>
	<a href="https://linkedin.com/in/daragh-coll-47b5a8127" target="_blank" aria-label="linkedin">
		<svg
			class="group h-8 w-8"
			width="38"
			height="38"
			viewBox="0 0 38 38"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M0.173096 3.14604C0.173096 1.67386 1.39643 0.480766 2.90582 0.480766H34.6519C36.1613 0.480766 37.3846 1.67386 37.3846 3.14604V35.027C37.3846 36.4992 36.1613 37.6923 34.6519 37.6923H2.90582C1.39643 37.6923 0.173096 36.4992 0.173096 35.027V3.14604ZM11.6691 31.6315V14.8281H6.08508V31.6315H11.6691ZM8.87827 12.5327C10.8249 12.5327 12.0366 11.2442 12.0366 9.63015C12.0017 7.98122 10.8272 6.72765 8.91548 6.72765C7.00374 6.72765 5.75483 7.98354 5.75483 9.63015C5.75483 11.2442 6.96653 12.5327 8.84106 12.5327H8.87827ZM20.2929 31.6315V22.2472C20.2929 21.7448 20.3301 21.2425 20.479 20.8843C20.8813 19.8819 21.8 18.8423 23.3443 18.8423C25.3653 18.8423 26.1723 20.382 26.1723 22.6426V31.6315H31.7564V21.9937C31.7564 16.8306 29.0027 14.4304 25.3281 14.4304C22.3651 14.4304 21.0371 16.0584 20.2929 17.205V17.2632H20.2557C20.2681 17.2438 20.2805 17.2244 20.2929 17.205V14.8281H14.7112C14.781 16.405 14.7112 31.6315 14.7112 31.6315H20.2929Z"
				class="fill-white transition duration-300 ease-in-out group-hover:fill-indigo-600"></path>
		</svg>
	</a>
</div>
