---
import LadIcon from '../../../shared/lad-icon/lad-icon.astro';
import Social from './social.astro';
import Actions from './actions.astro';
---

<div class="height-full-smallest relative grid place-content-center">
	<div class="container-sm grid justify-center">
		<div class="">
			<div class="flex items-center gap-4">
				<h1 class="text-5xl font-bold tracking-tight text-gray-900 md:text-6xl">Hi, I’m Daragh</h1>
				<LadIcon id="landing_lad" variant="wave" color="#6366f1" height="2rem" width="2rem" />
			</div>
			<h2 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 md:text-4xl">
				Welcome to my website
			</h2>
			<h3 class="mt-8 max-w-xl text-2xl font-semibold tracking-tight text-gray-500">
				I am a fullstack developer, specialising in front end development. I like to design, code
				and <span class="animated-text">animate</span>.
			</h3>
		</div>

		<Actions />
		<Social />
	</div>
</div>

<style>
	.animated-text {
		--bg-size: 400%;
		--color-one: #6366f1;
		--color-two: #fbcfe8;
		background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 /
			var(--bg-size) 100%;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		animation: move-bg 8s infinite linear;
	}

	@media (prefers-reduced-motion: no-preference) {
		.animated-text {
			animation: move-bg 8s linear infinite;
		}
		@keyframes move-bg {
			to {
				background-position: var(--bg-size) 0;
			}
		}
	}
</style>

<script>
	const lad = document.getElementById('landing_lad');

	lad && lad.classList.add('animate-bounce');
</script>
